*{
	font-family: 'Roboto', sans-serif;
}

a{
	outline: none !important;
}

.container{
	width: 1024px;
}

/* Homepage header */
header{
	height: 150px;
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

header .container{
	background-color: #fff;
	position: absolute;
	left:0;
	right:0;
}

#myCarousel{
	margin-top:30px;
}

#blank-left{
	position: absolute;
	left: 0;
	background: #000;
	height: 180px;
	width: 50%;
}

#blank-right{
	position: absolute;
	right: 0;
	width:50%;
	border-bottom: 1px solid #ddd;
	height: 41px;
}

#logo{
	display: block;
	height:151px;
	width: 351px;
	background: black;
	margin-left: -18px;
}

#logo img{
	height:100%;
}

.contacts{
	color: #999999;
	font-size: 13px;
	height: 41px;
	border-bottom:1px solid #ddd;
	line-height: 120%;
	text-transform: uppercase;
	margin-left:-25px;
}
.contacts > *{
	height: 40px;
	vertical-align: middle;
	padding-top: 15px;
	padding-left: 25px;

}

.contacts + .row{
	text-align: center;
}

.login{
	text-align: center;
	border-right:1px solid #ddd;
	padding-left:0;
	padding-right:0;
}

.lang{
	padding-left:18px;
	padding-right: 0;
}

.lang *{
	font-size:13px;
}
.lang a{
	color: black;
	font-size: 13px;
	text-decoration: none;
}
.lang a:hover {
	text-decoration: underline !important;
}

.navbar-header{
	margin-top: 40px;
	text-transform: uppercase;
	font-size: 20px;
	width: 100%;
}

#search{
	vertical-align: middle;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

.glyphicon-search{
	float: right;
	font-size: 18px;
	margin-top: -4px;
}

.navbar-header{
	margin-right:-13px;
}

.navbar-header a{
	color: #000;
}

.navbar-brand{
	width: 100%;
	max-width: 20%;
	font-weight:bold;
}

.navbar-brand:hover{
	text-decoration: underline;
}

.navbar-brand:last-of-type{
	padding-right:0;
}

/* Homepage banners */

.overlay{
	position: absolute;
	z-index: 1;
}

.carousel-caption{
	left: 30px;
	top: 10px;
	right: 0;
	text-align: left;
	color: black;
}

.carousel-caption p{
	padding: 24px 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2em;
	text-shadow: none;
}

.carousel-caption a{
	display: block;
	color: black;
	margin-top: 24px;
	font-size: 18px;
	font-weight: 400;
}

/* Section with categories */
.sections{
	margin-top: 30px;
}
.sections a img{
	width: 100%;
}

/* Footer */
footer{
	background: #f2f2f2 none repeat scroll 0 0;
	margin-top: 30px;
	padding: 30px 0;
	position: relative;
}

.foot-lines{
	position: absolute;
	top:0;
	left: 380px;
	background: url("../img/foot_lines.png") no-repeat;
	background-size: 110%;
	width: 382px;
	height: 100%;
}

#foot-logo{
	width: 200px;
	margin-top:4px;
}

.foot-menu h2{
	margin-top:0;
	text-transform: uppercase;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
}

.foot-menu ul{
	list-style: none;
	padding-left:0;
}
.foot-menu li{
	line-height: 18px;
}
.foot-menu li a{
	color: #666;
}

#phone{
	display: block;
	margin-top:30px;
	padding-left: 0;
	margin-left:0;
	border-bottom: 0;
	font-size: 18px;
	font-weight: bold;
}

#mail{
	font-weight: bold;
}

#phone + a{
	color: #999999;
}

.facebook{
	display: inline-block;
	background: url("../img/facebook.png") no-repeat center top;
	height: 26px;
	width: 13px;
	vertical-align: middle;
}
.twitter{
	display: inline-block;
	background: url("../img/twitter.png") no-repeat center top;
	width: 32px;
	height: 28px;
	vertical-align: middle;
	margin:0 12px;
}
.pinterest{
	display: inline-block;
	background: url("../img/pinterest.png") no-repeat center top;
	width:31px;
	height:31px;
	vertical-align: middle;

}
.facebook:hover{
	background-position: bottom;
}